/Masters-Management-ejb/build/
/Masters-Management-ejb/dist/
/Masters-Management-war/build/
/MastersManagement/nbproject/private/
/MastersManagement/dist/
/MastersManagement/build/
/MastersManagementWeb-ejb/build/
/MastersManagementWeb-ejb/dist/
/MastersManagementWeb-ejb/nbproject/private/
/MastersManagementWeb-war/build/
/MastersManagementWeb-war/dist/
/MastersManagementWeb-war/nbproject/private/